---
const {item} = Astro.props
---

<div class="box-border flex flex-col items-center content-center mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-screen-2xl px-16">
    <div class="box-border w-full text-black border-solid md:w-1/2 -mt-48">
        <h2 class="m-0 text-6xl font-bold leading-tight bg-gradient-to-r from-indigo-500 to-primary text-transparent bg-clip-text">
            {item.header}
        </h2>
        <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 text-xl">
            {item.subheader}
        </p>
        <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
            {item.list.map(item => {
                return (
                    <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                        <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-primary rounded-full"><span class="text-sm font-bold">✓</span></span> {item.text}
                    </li>
                )
            })}
        </ul>
    </div>

    <div class="box-border relative w-full max-w-md mt-10 pt-12 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 p-48 pl-0 overflow-hidden">
        <img src={`/image-packs/${item.image}/feature-left.png`} class="shadow-xl rotate-1 rounded-xl relative z-10">
        <div class="absolute top-0 right-0 w-full h-full mt-32 mr-12 transform scale-125 rotate-45">
            <svg class="absolute top-0 w-3/4 h-3/4 transform fill-current lg:scale-x-150 text-purple-100" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                <path id="blob" d="M420.5,321Q419,392,351.5,417.5Q284,443,209.5,446Q135,449,103.5,382Q72,315,74.5,251Q77,187,106.5,120Q136,53,209.5,56.5Q283,60,331.5,100.5Q380,141,401,195.5Q422,250,420.5,321Z"></path>
            </svg>
        </div>
    </div>
</div>
